# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# IDEs e editores
.vscode/
.idea/
*.swp

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Banco de dados local
*.db

# Arquivos temporários
*.tmp
*.bak
*.old

# Build / distribuição
build/
dist/
*.egg-info/
